<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    button{
        font-family: Arial, Helvetica, sans-serif;
    }
    .open{
        background-color: rgb(34, 197, 94);
    }
    .closed{
        background-color: rgb(239, 68, 68);
    }
  </style>
</head>
<body>
    <h2>Water Source Pipe</h2>
    <button id="sourceValveBtn" class="closed" onclick="toggleSourceValve()">
        CLOSED
    </button>

    <br><br>

    <h2>Drainage Pipe</h2>
    <button id="drainValveBtn" class="closed" onclick="toggleDrainValve()">
        CLOSED
    </button>
</body>
<script>
let sourceValveOpen = false;
let drainValveOpen = false;
async function toggleSourceValve() {

    const newState = !sourceValveOpen;
    const response = await fetch(
        "/valve/source/" + (newState ? 1 : 0),
        { method: "POST" }
    );
    if (!response.ok) {
        alert("Failed to control water valve");
        return;
    }

    sourceValveOpen = newState;
    const btn = document.getElementById("sourceValveBtn");
    btn.innerText = sourceValveOpen ? "OPEN" : "CLOSED";
    btn.className = sourceValveOpen ? "open" : "closed";
}

async function toggleDrainValve() {

    const newState = !drainValveOpen;
    const response = await fetch(
        "/valve/drain/" + (newState ? 1 : 0),
        { method: "POST" }
    );
    if (!response.ok) {
        alert("Failed to control drainage valve");
        return;
    }
    
    drainValveOpen = newState;
    const btn = document.getElementById("drainValveBtn");
    btn.innerText = drainValveOpen ? "OPEN" : "CLOSED";
    btn.className = drainValveOpen ? "open" : "closed";
}
</script>
</html>